<main class="form-signin">

    <h1 class="h3 mb-3 fw-normal">Log in</h1>

    <form [formGroup]="logInForm" (ngSubmit)="onLogIn()">

        <div (click)="hideResponseErrors()">
            <div class="form-floating">
                <input type="email" class="form-control" [ngClass]="{'error-border': !isHideResponseErrors && errorObj.logIn.email != null}" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label class="floating-label" for="floatingInput">Email address</label>

                <span class="error-text" *ngIf="logInForm.controls.email.errors != null && logInForm.controls.email.touched">Please enter a valid email.</span>

                <span class="error-text" *ngIf="!isHideResponseErrors && errorObj.logIn.email != null">{{errorObj.logIn.email}}</span>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" [ngClass]="{'error-border': !isHideResponseErrors && errorObj.logIn.password != null}" id="floatingPassword" placeholder="Password" formControlName="password">
                <label class="floating-label" for="floatingPassword">Password</label>

                <span class="error-text" *ngIf="logInForm.controls.password.errors != null && logInForm.controls.password.touched">Please enter a password.</span>

                <span class="error-text" *ngIf="!isHideResponseErrors && errorObj.logIn.password != null" style="margin-top: -100px;">{{errorObj.logIn.password}}</span>
            </div>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!logInForm.valid || isBtnClicked" style="margin-top: 10px;">
            <i class="fa fa-arrow-right" *ngIf="!isLoggingIn"></i>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoggingIn"></span>
        </button>

        <span class="error-text" *ngIf="errorObj.logIn.unknown != null" style="margin-top: 10px;">{{errorObj.logIn.unknown}}</span>

    </form>

</main>