div {
    font-family: "Karla", sans-serif;
}

.cart-page {
    min-height: 120vh;
    padding-top: 80px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 25px;
}

.item-category {
    font-size: 15px;
}

.item-price {
    font-size: 19px;
    color: rgb(68, 68, 68);
}

.card {
    font-family: "Karla", sans-serif;
    border-radius: 1.3em;
}

div.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.card:hover {
    transform: translateY(-0.1rem) scale(1);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.item-category {
    white-space: pre-wrap;
    font-size: 14px;
    margin-bottom: 10px;
}

.cart-btn-group {
    margin-top: 80px;
    margin-bottom: 100px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .item-image {
        border-top-left-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .item-image {
        border-top-left-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
    }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .item-image {
        border-top-left-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .item-image {
        border-top-left-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .item-image {
        border-top-left-radius: 1.3em;
        border-top-right-radius: 1.3em;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .item-image {
        border-top-left-radius: 1.3em;
        border-top-right-radius: 1.3em;
    }
}