<main class="cart-page">
    <div class="album py-5">
        <div class="container">

            <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
                <span class="fs-2">Your Cart</span>
            </div>

            <div class="text-center" *ngIf="isCartEmpty == true">
                <h3>No items in cart.</h3>
            </div>

            <div *ngIf="isCartEmpty == false">
                <div *ngFor="let item of cartArray">
                    <div class="card mb-3 mx-auto" style="max-width: 700px;" *ngIf="item.quantity > 0">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="item-image" [src]="item.imageUrl">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.name}}</h5>
                                    <span class="badge bg-light text-dark item-category">{{item.category}}</span>
                                    <p class="card-text item-price">
                                        ₹{{item.price}} × {{item.quantity}} = ₹{{getItemTotalAmount(item.price, item.quantity)}}
                                    </p>
                                    <div class="btn-toolbar" role="toolbar" *ngIf="item.quantity > 0">
                                        <div class="btn-group" role="group" aria-label="-">
                                            <span type="button" class="btn btn-outline-danger btn-sm" (click)="onRemove(item)">-</span>
                                            <span class="text-center" style="width: 30px;">{{[(item.quantity)]}}</span>
                                            <span type="button" class="btn btn-outline-success btn-sm" (click)="onAdd(item)">+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center cart-btn-group">
                    <div class="form-group">
                        <button class="btn btn-outline-danger" (click)="clearCart()">Clear cart</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>