.navbar-brand {
    font-size: 40px;
    font-family: "Pacifico", cursive;
}

#navbar-container {
    margin-top: 35px;
}

.nav-link {
    font-size: 22px;
    color: black;
}

.nav-item {
    padding-left: 10px;
}

a.close-icon,
a.close-icon:hover {
    color: inherit;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-item {
    cursor: pointer;
}