<div class="container" id="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" href="#">21 Club</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="nav-item" *ngIf="!isAuthenticated">
                        <a class="nav-link" href="#">Log in</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuthenticated">
                        <a class="nav-link" href="#">Sign up</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuthenticated">
                        <a class="nav-link" href="#">Track order</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuthenticated">
                        <a class="nav-link" href="#">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>