<main class="my-order-page">
    <div class="album py-5">
        <div class="container">

            <div class="d-flex flex-row-reverse" style="margin-bottom: 30px;">
                <div class="p-2">
                    <button type="button" class="btn btn-outline-primary" [routerLink]="['/admin/manage-orders']">
                        <i class="fa fa-arrow-left"></i>
                        <span style="margin-left: 3px; margin-bottom: 10px;">
                            Back to manage orders
                        </span>
                    </button>
                </div>
            </div>

            <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
                <span class="fs-2">{{userName}}'s orders</span>
            </div>

            <div *ngIf="isLoading == true">
                <app-loader></app-loader>
            </div>

            <div class="text-center" *ngIf="isLoaded == true && orderArray.length == 0">
                <h3>The customer hasn't ordered anything yet.</h3>
            </div>

            <div *ngFor="let order of orderArray">
                <div class="card mx-auto" style="max-width: 700px;">
                    <div class="card-header">
                        <strong>Order # {{order.orderNo}}</strong> placed on {{order.addedOn}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">ID: {{order.orderId}}</h5>
                        <div *ngFor="let oi of order.orderedItems">
                            <p class="card-text">
                                {{oi.name}}: ₹{{oi.price}} × {{oi.quantity}} = ₹{{getItemTotalAmount(oi.price, oi.quantity)}}
                            </p>
                        </div>
                        <hr> <strong>Total amount paid: ₹{{order.totalAmt}}</strong> (inclusive of 18 %GST)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>