section {
    scroll-margin-top: 6rem;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item-price {
    font-size: 18px;
    color: black;
}

.card {
    font-family: "Karla", sans-serif;
    border-radius: 1.3em;
}

.card-img-top {
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

.card-text {
    font-size: 20px;
    color: black;
}

.item-category {
    white-space: pre-wrap;
    font-size: 14px;
    margin-bottom: 10px;
}

.item-price {
    margin-right: 10px;
}

.loader-div {
    margin-top: 250px;
    min-height: 60vh;
}

.img-loading {
    background-color: #e2e2e2;
    background-image: linear-gradient(0deg, #e2e2e2 0%, #f7f7f7 100%);
}

div.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.card:hover {
    transform: translateY(-0.1rem) scale(1);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.items-div {
    margin-bottom: 80px;
}

.category-navbar {
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #e7e7e7d8;
}

.nav-link {
    color: #000000;
}


/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .nav-link {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .category-navbar {
        font-size: 15px;
    }
}

.form-switch {
    word-break: break-word;
}

.form-check-label {
    font-size: 14px;
}

.form-check-input:checked {
    background-color: #33ea00;
    border-color: #33ea00;
}


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .nav-link {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .category-navbar {
        font-size: 15px;
    }
}