.my-order-page {
    min-height: 120vh;
    padding-top: 80px;
}

div {
    font-family: "Karla", sans-serif;
}

.card {
    margin-bottom: 20px;
    font-size: 18px;
}

.card-header {
    background-color: rgb(0 255 167 / 46%);
}