<main class="my-order-page">
    <div class="album py-5">
        <div class="container">

            <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
                <span class="fs-2">My orders</span>
            </div>

            <div class="text-center" *ngIf="orderArray.length == 0">
                <h3>You haven't ordered anything yet.</h3>
            </div>

            <div *ngFor="let order of orderArray">
                <div class="card mx-auto" style="max-width: 700px;">
                    <div class="card-header">
                        Order # {{order.orderNo}} placed on {{order.addedOn}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">ID: {{order.orderId}}</h5>
                        <div *ngFor="let oi of order.orderedItems">
                            <p class="card-text">
                                {{oi.name}}: ₹{{oi.price}} × {{oi.quantity}} = ₹{{getItemTotalAmount(oi.price, oi.quantity)}}
                            </p>
                        </div>
                        <hr> <strong>Total amount paid: ₹{{order.totalAmt}}</strong> (inclusive of 18 %GST)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>