<main class="form-signin">

    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">

        <div class="form-floating">
            <input type="name" class="form-control" id="name" placeholder="Sreya Saha" formControlName="name">
            <label class="floating-label" for="floatingInput">Name</label>
            <span class="error-text" *ngIf="signUpForm.controls.name.errors != null && signUpForm.controls.name.touched">What's your name?</span>
        </div>

        <div class="form-floating" (click)="hideResponseErrors()">
            <input type="email" class="form-control" [ngClass]="{'error-border': !isHideResponseErrors && errorObj.signUp.email != null}" id="email" placeholder="name@example.com" formControlName="email">
            <label class="floating-label" for="floatingInput">Email address</label>

            <span class="error-text" *ngIf="signUpForm.controls.email.errors != null && signUpForm.controls.email.touched">Please enter a valid email.</span>

            <span class="error-text" *ngIf="!isHideResponseErrors && errorObj.signUp.email != null">{{errorObj.signUp.email}}</span>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" formControlName="password">
            <label class="floating-label" for="floatingPassword">Password</label>
            <span class="error-text" *ngIf="signUpForm.controls.password.errors != null && signUpForm.controls.password.touched">Password length must be greater than 8.</span>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!signUpForm.valid || isBtnClicked || isSignedUp">
            <i class="fa fa-arrow-right" *ngIf="!isSigningUp && !isSignedUp"></i>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isSigningUp"></span>
            <i class="fa fa-check" aria-hidden="true" *ngIf="isSignedUp && isBtnClicked"></i>
        </button>

    </form>

    <button class="w-100 btn btn-lg btn-primary google-btn" type="button" (click)="onSignUpWithGoogle()" style="margin-bottom: 25px;">
        <span class="google-btn-text">Sign up with Google</span>
    </button>

    <span class="unknown-error-text" *ngIf="errorObj.signUp.unknown != null">{{errorObj.signUp.unknown}}</span>

    <p class="mobile-only">Have an account? <a [routerLink]="['/login']">Log in</a></p>

</main>