<div class="categories-outer">

    <div class="container" style="text-align: center;">

        <div class="col-lg-6 mx-auto" id="text-1">
            <p class="display-6">
                Want to get food delivered to you? <br> Place your order now.
            </p>
        </div>

        <div class="text-center" style="margin-bottom: 60px; margin-top: 60px;">
            <button type="button" class="btn btn-md btn-outline-dark" (click)="onViewCategory()">Have a look at what we've for you</button>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
            <div class="col">
                <a>
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/restaurant-21-club.appspot.com/o/starter.jpg?alt=media&token=2b0a42ab-d931-4421-9c5c-684a2ecb95e1" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Starters</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/restaurant-21-club.appspot.com/o/mains.jpg?alt=media&token=bbf302db-447f-4c7e-9467-3741af3010d9" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mains</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/restaurant-21-club.appspot.com/o/dessert.jpg?alt=media&token=e8edc62c-da39-4f56-ae8f-94c372a1f3c2" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Desserts</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="https://firebasestorage.googleapis.com/v0/b/restaurant-21-club.appspot.com/o/alcohol.jpg?alt=media&token=40c06c97-283f-46b6-a843-36d4d93154c6" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alcoholic beverages</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>