<div class="categories-outer">

    <div class="container" style="text-align: center;">

        <div class="col-lg-6 mx-auto" id="text-1">
            <p class="display-6">
                Want to get food delivered to you? <br> Place your order now.
            </p>
        </div>

        <div class="text-center" style="margin-bottom: 60px; margin-top: 60px;">
            <button type="button" class="btn btn-outline-dark" (click)="onViewCategory()">Have a look at what we've for you</button>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
            <div class="col">
                <a>
                    <div class="card">
                        <img src="../../../assets/images/starter.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Starters</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="../../../assets/images/mains.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mains</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="../../../assets/images/dessert.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Desserts</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="../../../assets/images/alcohol.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alcoholic beverages</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>