body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    scroll-behavior: auto;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

.success-text {
    color: rgb(0, 231, 77);
    font-size: 13px;
    margin-top: 15px;
}

.error-text {
    color: rgb(255, 83, 83);
    font-size: 13px;
    margin-top: 15px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .on-mobile-hide {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .on-mobile-hide {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .on-mobile-hide {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .on-mobile-hide {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .on-mobile-hide {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .on-mobile-hide {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}