<app-header-image></app-header-image>

<div class="px-4 py-5 my-5 text-center">
    <!-- <h1 class="display-5 fw-bold">Centered hero</h1> -->
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Whether you are planning an intimate dinner for friends, a corporate luncheon, or an extravagant soirée, you will find the perfect setting at 21 Club. In addition to accommodating as many as 400 guests, our restaurant feature award-winning off-site catering
            and a full service event production team that will make sure every detail is in place, so you don’t have to.
        </p>
    </div>
</div>

<app-categories></app-categories>

<!-- <router-outlet></router-outlet> -->

<div class="px-4 py-5 my-5 text-center">
    <!-- <h1 class="display-5 fw-bold">Centered hero</h1> -->
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            With specialty cocktails, unique starter dishes, and spectacular main courses and desserts, 21 Club is an amazing eatery. The superb talent and exacting precision of our chefs and staffs will make your experience here a grandeur one.
        </p>
    </div>
</div>