<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-column">
                <h3>Location</h3>
                <p>23, Ballygunge Place, Ballygunge, Kolkata, West Bengal 700019</p>
            </div>

            <div class="col-md-6 footer-column">
                <h3>Contact</h3>
                <p>+91-896-963-9647</p>
            </div>
        </div>
        <hr style="margin-top: 60px;">
    </div>
    <div class="text-center" style="margin-top: 60px;">
        <p>
            Made with <i class="icon ion-heart"></i> by <a href="https://www.thecoducer.com/" target="_blank">The Coducer</a>
        </p>
        <p>View code on <a href="https://github.com/thecoducer/restaurant-order-management-system" target="_blank">Github</a> </p>
    </div>
</footer>