<div class="container profile-div">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h2 style="margin-bottom: 40px;">Your profile</h2>

            <form [formGroup]="userProfileForm" (ngSubmit)="onUpdate()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="name" class="form-control" formControlName="name">
                    <span class="error-text" *ngIf="userProfileForm.controls.name.errors != null && userProfileForm.touched">Name cannot be blank.</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone</label>
                    <input type="phone" class="form-control" formControlName="phone">
                    <span class="error-text" *ngIf="userProfileForm.controls.phone.errors != null">
                    Enter a 10 digit valid phone number.
                </span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" formControlName="email" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="address" class="form-control" formControlName="address">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Role</label>
                    <input type="role" class="form-control" formControlName="role" readonly>
                </div>

                <div class="alert alert-success mx-auto" role="alert" *ngIf="isUpdateSuccess == true">
                    Profile updated!
                </div>

                <div class="alert alert-danger mx-auto" role="alert" *ngIf="isUpdateFailure == true">
                    Some error occurred.
                </div>

                <button type="submit" [disabled]="!userProfileForm.valid" class="btn btn-md btn-primary">
                    Update
                </button>
            </form>
        </div>
    </div>
</div>